[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
antigenapp = { editable = true, path = "." }
psycopg2-binary = "*"

[dev-packages]
antigenapp = { editable = true, extras = ["dev"], path = "." }
pytest-black = "*"
black = "==22.6.0"

[scripts]
tests = "python -m pytest"
build = "python setup.py sdist bdist_wheel"
