[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
antigenapp = { editable = true, path = "." }
django-storages = {extras = ["s3"], version = "*"}

[dev-packages]
antigenapp = { editable = true, extras = ["dev"], path = "." }

[scripts]
tests = "python -m pytest"
build = "python setup.py sdist bdist_wheel"
